@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
#root {
  min-height: 100vh;
  height: 100vh;
}

body {
  margin: 0;
  overflow-y: overlay; /* fix vertical scrollbar offset */
  background-color: #171b20 !important;
  /* font-family: "Nunito", sans-serif !important; */
  /* font-family: -apple-system, Helvetica; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Remove triangle from navigation dropdown */
a.dropdown-toggle.nav-link::after {
  display: none;
}

button:focus {
  /* button group focus */
}

/* https://stackoverflow.com/a/40365806/12641958 */
.leaflet-container {
  height: 100%;
  border-radius: inherit;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

/* .shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
} */

.banner {
  background-color: var(--bs-danger);
  border: 1px dashed var(--bs-warning);
  font-style: italic;
}

img.cropped {
  width: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.middle {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
} */

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.bordered {
  border: 1px dashed royalblue;
}

li {
}

/* img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
} */

/* .row {
  border: 1px dashed pink;
} */

/* .col {
  border: 1px dashed purple;
} */
