flask
flask-restful
sqlalchemy==1.3.23
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
psycopg2-binary
flask-CORS
marshmallow_enum

numpy
Pillow

passlib
pyjwt
hashids

geoalchemy2
geojson
shapely
vincenty

pika

requests
tqdm
pytest